body {
    margin: 0;
    padding: 0;
    background:url(scale_1200.png);
    font-size: 20px;
    background-size: 100%;
    padding: 12px 12px;
    height: 100%;
  }
p.button{
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    border: solid rgba(139, 88, 109, 0.397);
    box-shadow: -1px 2px 40px rgb(8, 0, 6);
    padding: 8px 12px;
    background-image: linear-gradient(95deg, rgba(77, 204, 238, 0.849), rgba(244, 60, 213, 0.781) 40%, rgba(85, 241, 181, 0.795));
}
.textarea-biography{ 
    width: 99%;
    height: 100px;
    resize: none;
}